.gameboard {
  margin: auto;
  width: 50%;
}

.card {
  float: left;
  border: solid 0.5px #C2C2C2;
  width: 100px;
  border-radius: 3px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: #C2C2C2;
}

.hand {
  overflow: auto;
  margin: auto;
  width: 100%;
  padding: 20px;
}

h2 {
  text-align: center;
  font-family: 'Fugaz One', cursive;
  color: white;
  background-color: #64D16D;
  border: solid 1px #309639;
  border-radius: 5px;
}

body {
  background-image: url("../img/table.png");
  background-size: 100%;
}

button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  color: #666666;
  font: 0.8em 'Open Sans', sans-serif;
  padding: 5px;
  text-shadow: 0px 1px 0px #ffffff;
  margin: auto;
  width: 80px;
}

button:disabled {
  background-color: #ADAAAD;
  box-shadow: inset 0px 1px 0px 0px #ADAAAD;
}

.button-container {
  width: 250px;
  margin: auto;
}